# Ignore pyc and ~ files
*.pyc
*~

# Ignore following directories...
cache/*
data/*
models/old/*
output/*
.ipynb_checkpoints/*

# but please keep the folder
!cache/.gitkeep
!data/data.zip
!output/.gitkeep
